/* this is pc*/
@media screen and (min-width: 1280px)
{
	body
	{
		font-family: Arial, Helvetica, sans-serif;
		background-color: #bbe6ff ;
	}
	
	#flex-container-header
	{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.flex-logo
	{
		width: 35px;
		height: 35px;
	}
	
	.flex-header1
	{
		background-color: #4e7198;
		color: white;
		padding: 5px;
		margin-bottom: 0.5em;
	}
	
	.flex-header2
	{
		background-color: #000000;
		color: white;
		padding: 5px;
		margin-top: 0;
	}
	
	#flex-container-nav
	{
		display: flex;
		justify-content: center;
	}
	
	#flex-ul
	{
		list-style-type: none;
		margin-bottom: 3em;
	}
	
	.flex-list
	{
		background-color: #4e7198;
		color: white;
		padding: 15px;
		margin: 1em;
	}
	
	#flex-container-video
	{
		display: flex;
		justify-content: center;
		margin-bottom: 4em;
	}
	
	#flex-container-parent
	{
		display: flex;
		/* background-color: yellow; */
	}
	
	#1st-container-child-articles
	{
		
	}
	
	#flex-container-parent > #2nd-container-child-aside
	{
		
	}
	
	.content-container
	{
		display: flex;
		flex: wrap;
		align-items: center;
		/* background-color: lightgreen; */
	}
	
	img
	{
		width: 500px;
		height: 281.25px;
	}
	
	#cookie-card
	{
		padding: 1.5em;
		font-family: sans-serif;
		position: fixed;
		bottom: 2em;
		right: 2em;
		width: 300px;
		color: #FFF;
		background-color: #FA0;
		opacity: 50%;
	}
	
	.cookie-title
	{
		font-size: 1.6em;
		letter-spacing: 0.4px;
		margin-bottom: 0.5em;
	}
	
	.cookie-info
	{
		line-height: 1.4em;
		letter-spacing: 0.4px;
		margin-bottom: 2em;
	}
	
	.cookie-cta
	{
		border: none;
		outline: none;
		padding: 0.8em 1.5em;
		margin-right: 0.5em;
		font-size: 1.1em;
		font-weight: bold;
		cursor: pointer;
		transition: background-color 0.4s;
	}
}

/* this is tablet*/
@media screen and (min-width: 481px) and (max-width: 1279px)
{
	body
	{
		font-family: Arial, Helvetica, sans-serif;
		background-color: #ffbbdd  ;
	}
	
	#flex-container-header
	{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.flex-logo
	{
		width: 35px;
		height: 35px;
	}
	
	.flex-header1
	{
		background-color: #4e7198;
		color: white;
		padding: 5px;
		margin-bottom: 0.5em;
	}
	
	.flex-img-logo
	{
		width: 35px;
		height: 35px;
		justify-content: flex-start;
	}
	
	.flex-header2
	{
		background-color: #000000;
		color: white;
		padding: 5px;
		margin-top: 0;
	}
	
	#flex-container-nav
	{
		display: flex;
		justify-content: center;
	}
	
	#flex-ul
	{
		list-style-type: none;
		margin-bottom: 3em;
	}
	
	.flex-list
	{
		background-color: #4e7198;
		color: white;
		padding: 15px;
		margin: 1em;
	}
}

/* this is mobile*/
@media screen and (max-width: 480px)
{
	body
	{
		font-family: Arial, Helvetica, sans-serif;
		background-color: #d9bbff ;
	}
	
	#flex-container-header
	{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.flex-logo
	{
		width: 35px;
		height: 35px;
	}
	
	.flex-header1
	{
		background-color: #4e7198;
		color: white;
		padding: 5px;
		margin-bottom: 0.5em;
	}
	
	.flex-img-logo
	{
		width: 35px;
		height: 35px;
		justify-content: flex-start;
	}
	
	.flex-header2
	{
		background-color: #000000;
		color: white;
		padding: 5px;
		margin-top: 0;
	}
}



.flexParent
{
	display: flex;
}

.flexParent > .flexChild > .flexGrandkid
{
	float: right;
}